<!-- form_with scope: :article, url: articles_path, local: true do |form|  -->
<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>  
      <h4>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li style="color:red"><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
      <% if @article.errors[:title].any? %>  
            <% @article.errors[:title].each do |msg| %>
              <i style="color:red"><%= msg %></i>
            <% end %>
      <% end %>
  </p>
    <p>
    <%= form.label :title_confirmation %><br>
    <%= form.text_field :title_confirmation %><br>
      <% if @article.errors[:title_confirmation].any? %>  
            <% @article.errors[:title_confirmation].each do |msg| %>
              <i style="color:red"><%= msg %></i>
            <% end %>
      <% end %>
  </p>
 
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
      <% if @article.errors[:body].any? %>  
        <% @article.errors[:body].each do |msg| %>
          <i style="color:red"><%= msg %></i> <br>
        <% end %>
      <% end %>
  </p>

  <p>
    <%= form.label :terms %>
    <%= form.check_box :terms %>
      <% if @article.errors[:terms].any? %>  
        <% @article.errors[:terms].each do |msg| %>
          <i style="color:red"><%= msg %></i> <br>
        <% end %>
      <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>